---
import pansDrone from "@/assets/images/landing-page/pans-drone.png";

const backgroundUrl = typeof pansDrone === "string" ? pansDrone : pansDrone.src;
---

<div class="texture-wrap" style={`--texture-image: url(${backgroundUrl});`}>
        <div class="texture-image"></div>
</div>

<style>
        .texture-wrap {
                pointer-events: none;
                position: fixed;
                inset: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
        }
        .texture-image {
                position: relative;
                width: 100%;
                height: 100%;
                background-image: var(--texture-image);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                opacity: 1;
        }
</style>
